* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
}

#challenge_three {
    justify-content: space-between;
    width: 80%;
}

#challenge_three img {
    width: 100%;
}

#navbar {
    text-align: center;
}

ul {
    background-color: grey;
}

a, li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

li a:hover {
    background-color: lightgreen;
}

div {
    padding: 50px;
    margin-top: 10%;
    background-color: lightgreen;
}